{% extends "base.html" %}
  {% block header %}
    {{ super() }}
    <title>ThoughtsJournal | EditMe</title>

    <meta name="description" content="ThoughtsJournal is a social media website in which users can discuss their feelings or thoughts on a particular topic." />
  {% endblock %}
    {% block navbar %}
      {{ super() }}
    {% endblock %}
    {% block topbar %}
    <body>
      {{ super() }}
    {% endblock %}
    {% block content %}
    <br><br>
    <div style="margin-left: 150px;" class="blog-content">
      <div class="menu">
      <div class="sidebar">
        <ul>
          <li>
            <a href="/user/editme/general">General</a>
          </li>
          <li class="sidebar-active">
            Password
          </li>
        </ul>
      </div>
      <div class="article">
        <div class="article-input">
          <div class="article-input-label"></div>
          <div style="border: none;" class="article-username article-input-content">{{username}}</div>
        </div>
        <br><br>
        <form autocomplete="off" method="post">
              <div class="article-input">
                <div class="article-input-label">Current</div>
                <input name="password" class="article-input-content"
                type="password" required="required">
              </div>
              <br>
              <div class="article-input">
                <div class="article-input-label">New</div>
                <input name="newpassword" class="article-input-content"
                type="password" minlength="4" required="required"/>
              </div>
              <br>
              <div class="article-input">
                <div class="article-input-label">Again</div>
                <input class="article-input-content" name="retypepassword" type="password">
              </div>
              <br><br>
              <div class="article-input">
                <div class="article-input-label"></div>
                <button type="submit" class="borderbutton article-input-content">
                  Submit
                </button>
              </div>
              <br>
              {% if error %}
              <div class="article-input">
                <label class="article-input-label"></label>
                <div class="error article-input-content">{{ error }}</div>
              </div>
              {% elif success %}
              <div class="article-input">
                <label class="article-input-label"></label>
                <div class="success article-input-content">{{success}}</div>
              </div>
              {% endif %}
              <br><br>
            </div>
        </form>
      </div>
    </div><br><br><br>
    </div>
  </body>
    {{ super() }}
  <!--<div style=" background: rgb(0, 0, 0) ; opacity: 0.6;">&nbsp;</div>-->
</html>
{% endblock %}
