<div align="center" class="user">
<div class="user-content">
  <img class="bg" src="/usr/img/{{u.username}}">
  <div class="user-photo">
    <img src="/usr/img/{{u.username}}">
  </div>
  <div class="user-details">
    <div class="user-username">
      {{u.name}}
    </div>
    <!--<br>
    <div class="user-name">
      {{u.name}}
    </div>-->
    <div class="user-bio">
      "{{u.bio}}"
    </div>
    <div class="user-website">
      <a href="{{u.website}}">{{u.website}}</a>
    </div>
  </div>
</div>
</div>
<!--<div class="post">
  <div class="spacecontrol"></div>
  <div class="post-heading">
    <div id="post-title" class="post-title"><a href="/usr/{{u.key().id()}}">
    {% if u.name %}
      {{u.name}}
    {% else %}
      No Name
    {% endif %}
    </a></div>
  </div>
  <div class="outer-shell">
    <div class="post-content"><br>
      <div class="comment">
      <div class="post-comment">
      <a href="/usr/{{u.username}}">
        {{u.username}}
      </a>
      <i style="font-size: 18px; color: #0084ff" class="ion-ios-checkmark"></i><br>{{u.number}}<br><a href="mailto:{{u.email}}">{{u.email}}</a><br>
      {% if u.bio %}
        {{u.bio}}
      {% else %}
        No Bio
      {% endif %}-->
